

<style>

  h1 {
    text-align:center
  }

.text {
  color:black;
}

</style>

<H1> Rss Feed Parser </H1>

<div class="text">


<%= @rss.items.each do |item| %>
  <%=  puts "#{item.title}"  %>
<% end %>
</div>
