
<%= render 'layouts/alerts' %>

<script type="text/javascript"  src="../fx.js" ></script>

<center>
        <div data-aos="zoom-in" class="aos-init aos-animate">
          <br>
        <text class="purpsky"> Fintech Horizons Media
        </text>
        </div>
      </center>

<div>

  <center><img src="https://filesforfintech.s3.amazonaws.com/images/Infographic+images/subscribe.png" width="400px;" style="margin-top:100px;"></center>

</div>
