
<%= render 'layouts/alerts' %>

<script type="text/javascript"  src="../fx.js" ></script>

<center>
        <div data-aos="zoom-in" class="aos-init aos-animate">
          <br>
        <text class="purpsky"> Fintech Horizons Media
        </text>
        </div>
      </center>
