/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 body {
 background: #f0f0f0;
 }

    .flexbox {
    display:flex;
    justify-content:space-between;

    width: 100%;
    max-width: 768px;
    height: 100vh;

    overflow: hidden;

    margin: 0 auto;
    padding: 15px;

 }

     .flexbox .board {

       display: flex;
       flex-direction: column;

       width: 100%;
       max-width: 300px;

       background-color: #313131;

       padding: 15px;

       border-radius:10px;

     }

     .flexbox .board .card {
       padding: 15px 25px;
       background-color: #f3f3f3;

       cursor: pointer;
       margin-bottom: 15px;

       border-radius:10px;
     }

    #app {
   font-family: Avenir, Helvetica, Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-align: center;
   color: #2c3e50;
   margin-top: 60px;
 }


// buttons //

 .gardient-button {
    background: linear-gradient(-35deg, #14a0fd, #02d0ff, #14a0fd, #14a0fdd1);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: poppins;
    color: white;
    font-size: 12px;
}

.gardient-button:hover {
    box-shadow: 0px 0px 3px 0px grey;
}

// gardients //

// Fhm blue to light sky blue //

      .fin-sky {
        background: rgb(20,160,253);
        background: -moz-linear-gradient(90deg, rgba(20,160,253,1) 0%, rgba(69,229,252,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(20,160,253,1) 0%, rgba(69,229,252,1) 100%);
        background: linear-gradient(90deg, rgba(20,160,253,1) 0%, rgba(69,229,252,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#14a0fd",endColorstr="#45e5fc",GradientType=1);

      }

  // Text gardients //

  // purpsky //

  .purpsky {
    font-family: expansiva;
    size: 3vw;
    font-size: 3em;
    line-height: 1;
    background: -webkit-linear-gradient(#6b69ca, rgba(20, 160, 253, 0.82));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgba(20, 160, 253, 0.82);
}
