<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
    <style type="text/css">
      h3 { text-align: center; color: #149CFD; }
      p { text-align: center}
    </style>

    <h3>A PUBLICATION OF FINTECH HORIZONS MEDIA</h3>
    <p>Fintech Horizons was founded by veteran journalists.
       We cover startups in insurtech, payments, alternative
       lending, capital markets and blockchain/distributed
       ledger. Our articles highlight company technology,
       people, competition, and fundraising, while also looking
       at how a company was founded.</p>
  </body>
</html>
